
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工作流程</title>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js?2016"></script>
    <script src="~/Scripts/JJComment.js"></script>
    @Html.Partial("../Shared/_Layer")
    <link href="@Url.Content("~/Content/FlowDesign/css/flowwork.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="bdbox">
        <div>
            <div><p><a id="btnCreate" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-plus">添加流程</span></a></p></div>
            <div>
                <table id="tbData" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>流程名称</th>
                            <th>表单</th>
                            <th>类型</th>
                            <th>适用部门</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1072</td>
                            <td><span title="测试">测试流程</span></td>
                            <td>事件申报</td>
                            <td>固定流程</td>
                            <td>默认</td>
                            <td>2015/07/24 09:45</td>
                            <td>
                                <a href="javascript:" onclick="return startFlow(this)" title="使用该流程发起工作"><span class="glyphicon glyphicon-eye-open"></span>发起</a>&nbsp;|&nbsp;
                                <a href="javascript:" id="r_1072" onclick="return showRecord(this);"><span class="glyphicon glyphicon-eye-open"></span>发起记录</a>&nbsp;|&nbsp;
                                <a href="../Home/FlowDrawing" target="_blank"><span class="glyphicon glyphicon-new-window"></span>设计流程</a>&nbsp;|&nbsp;
                                <a href="javascript:" onclick="return editFlow(this);"><span class="glyphicon glyphicon-edit"></span>编辑</a>
                                <input type="hidden" id="hd_1072" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>1071</td>
                            <td><span title="">222</span></td>
                            <td>222</td>
                            <td>固定流程</td>
                            <td>默认</td>
                            <td>2015/07/24 02:24</td>
                            <td>
                                <a href="javascript:" onclick="return startFlow(this)" title="使用该流程发起工作"><span class="glyphicon glyphicon-eye-open"></span>发起</a>&nbsp;|&nbsp;
                                <a href="javascript:" id="r_1071" onclick="return showRecord(this);"><span class="glyphicon glyphicon-eye-open"></span>发起记录</a>&nbsp;|&nbsp;
                                <a href="../Home/FlowDesign" target="_blank"><span class="glyphicon glyphicon-new-window"></span>设计流程</a>&nbsp;|&nbsp;
                                <a href="javascript:" onclick="return editFlow(this);"><span class="glyphicon glyphicon-edit"></span>编辑</a>
                                <input type="hidden" id="hd_1071" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>1073</td>
                            <td><span title="">333</span></td>
                            <td>222</td>
                            <td>固定流程</td>
                            <td>默认</td>
                            <td>2015/07/24 02:24</td>
                            <td>
                                <a href="javascript:" onclick="return startFlow(this)" title="使用该流程发起工作"><span class="glyphicon glyphicon-eye-open"></span>发起</a>&nbsp;|&nbsp;
                                <a href="javascript:" id="r_1071" onclick="return showRecord(this);"><span class="glyphicon glyphicon-eye-open"></span>发起记录</a>&nbsp;|&nbsp;
                                <a href="../Home/FlowChartDesign" target="_blank"><span class="glyphicon glyphicon-new-window"></span>设计流程</a>&nbsp;|&nbsp;
                                <a href="javascript:" onclick="return editFlow(this);"><span class="glyphicon glyphicon-edit"></span>编辑</a>
                                <input type="hidden" id="hd_1071" value="" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="createForm" style="display:none;">
                <div>
                    <table style="">
                        <tr>
                            <td><label>流程名称：</label></td>
                            <td><input type="text" id="flowName" value="" /></td>
                        </tr>
                        <tr>
                            <td><label>流程表单：</label></td>
                            <td>
                                <select id="formType">
                                    <option value="1" selected>工作进度</option>
                                    <option value="2">事件申报</option>
                                    <option value="3">其他</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>流程类型：</label></td>
                            <td>
                                <select id="flowType">
                                    <option value="1" selected>默认流程</option>
                                    <option value="2">固定流程</option>
                                    <option value="3">自定义流程</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>适用部门：</label></td>
                            <td>
                                <select id="flowDept">
                                    <option value="1" selected>研发部</option>
                                    <option value="2">行政部</option>
                                    <option value="3">财务部</option>
                                    <option value="4">市场部</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>流程描述：</label></td>
                            <td><textarea type="text" id="flowDescription" style="width:300px;min-height:200px;resize:none;"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" id="btnSaveFlowForm" class="btn-success" value="确定保存" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="data" value="" />
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("#btnCreate").unbind("click").bind("click", function () {
            layer.open({
                type: 1,
                title: '流程创建',
                shadeClose: true,
                shade: 0.6,
                area: ["500px", "450px"],
                content: $("#createForm")
            });
        });
        var htm ='<tr><td>{0}</td><td><span title="">{1}</span></td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td><a href="javascript:" onclick="return startFlow(this)" title="使用该流程发起工作"><span class="glyphicon glyphicon-eye-open"></span>发起</a>&nbsp;|&nbsp;<a href="javascript:" id="r_{0}" onclick="return showRecord(this);"><span class="glyphicon glyphicon-eye-open"></span>发起记录</a>&nbsp;|&nbsp;<a href="javascript:" id="r_{0}" data-action="r_{0}" onclick="return openDesign(this);"><span class="glyphicon glyphicon-new-window"></span>设计流程</a>&nbsp;|&nbsp;<a href="javascript:" onclick="return editFlow(this);"><span class="glyphicon glyphicon-edit"></span>编辑</a><input type="hidden" id="hd_{0}" value="" /></td></tr>';
        $("#btnSaveFlowForm").unbind("click").bind("click", function () {
            var flowName = $("#createForm #flowName").val() == "" ? "新建流程" : $("#createForm #flowName").val();
            var formType = $("#createForm #formType").find("option:selected").text();
            var flowType = $("#createForm #flowType").find("option:selected").text();
            var flowDept = $("#createForm #flowDept").find("option:selected").text();
            var createDate = new Date();
            createDate = createDate.toDateString();
            $("#tbData tbody").append(htm.format(parseInt(Math.random(1000) * 1000), flowName, formType,flowType,flowDept,createDate));
        });
    });

    function openDesign(obj) {
        var rid = obj.id;
        var index=layer.open({
            type:2,
            title: '流程图设计',
            shadeClose: true,
            shade: 0.6,
            area: ["900px", "800px"],
            maxmin: true,
            content: "/Home/FlowDesign?rid=" + rid + "&t=" + Math.random() * 1000 + ""
        });
        layer.full(index);
    }
    function editFlow(obj) {
        layer.open({
            type: 1,
            title: '流程编辑',
            shadeClose: true,
            shade: 0.6,
            area: ["500px", "350px"],
            content: $("#createForm")
        });
    }
    function startFlow(obj) {
        layer.confirm('你确定使用该流程发起一个工作流程吗？', { icon: 3, title: '提示' }, function (e) {
            layer.alert("流程发起完成！");
            layer.close(e);
        });
    }

    function showRecord(obj) {
        var str = obj.id;
        layer.msg("编号：" + str + "暂无记录!");
    }
</script>