.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    /**自定义按钮样式**/

	/*position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;*/
}
.webuploader-pick-hover {
	/*background: #00a2d4;*/
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

