@{
    Layout = null;
    var imUrl = "http://127.0.0.1:8888";
    var hubUrl = string.Format("{0}/signalr/hubs", imUrl);

}
<script src="~/Scripts/jquery-1.8.2.js"></script>
@Html.Partial("../Shared/_Layer")
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.js")"></script>
<script src="@hubUrl"></script>
<script src="@Url.Content("~/Scripts/json2.js")"></script>
<style type="text/css">
    img.gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: url('~/Content/grayFilterSVG.svg#grayscale');
        filter: gray;
    }

</style>
<div id="talkBox">
    <div>
        <div>
            <textarea id="txtInput"></textarea>
            <a id="btnSendO">Send</a>
            <a id="btnSendG">Send</a>
        </div>
        <div>
            <ul id="msgList">
                <li>通讯进行中...</li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">

    //Begin DOM Ready.
    $(document).ready(function () {
        //button.发送对象信息:one to one
        $("#btnSendO").click(function () {
            var sm = $("#txtInput").val();
            if ($.trim(sm) == "") {
                return false;
            }
            SendIMMsg(1, sm);
        });
    });//End DOM Ready.

    //================SignalR 在线通讯

    $.connection.hub.url = '@hubUrl';
    $.connection.hub.qs = { "U":"joney", "P": "123456", "T": "1" };
    $.connection.hub.logging = true;
    var mychat = $.connection.MyHub;
    console.log(mychat);
    //$.connection.hub.start();
    $.connection.hub.start({ transport: ['webSockets', 'longPolling'] });//使用WebSocket或者长轮询

    //对象信息接收:one to one.
    mychat.client.SendMessage = function (data) {
        console.log(data);
        $("#msgList").append("<li>"+data+"</li>");
    };
    

    //推送信息：type=媒体类型，data=json数据
    function SendIMMsg(type, data) {
        var flag = parseInt(Math.random(1000) * 1000);
        $("#btnSendO").attr("disabled", true);
        $.connection.hub.start().done(function () {
            mychat.server.send(data).done(function (result) {
                console.log(result);
                $("#txtInput").val("").focus();
                $("#btnSendO").removeAttr("disabled");
            }).fail(function (e) {
                console.log(e);
            });
        }).fail(function (e) {
            console.log(e);
        });

    }

    //键盘回车事件
    document.onkeyup = function (e) {
        var ev = e || window.event;
        var kc = ev.keyCode;
        console.log(kc);
        switch (kc) {
            case 13:
                var msg = $("#txtInput").val();
                SendIMMsg("1",msg);
                break;
            default:
                break;
        }
    }

    //================End 在线通讯

</script>