
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegist</title>
    <script>
        var postjs = "http://1000.com/测试/pid=酱油";
        var ecjs = escape(postjs);
        var ucjs = unescape(postjs);

    </script>
</head>
<body>
    <div> 
        <form action="SaveUserInfo" method="post">
            @Html.AntiForgeryToken()
            <ul>
                <li><input type="text" id="UserName" name="UserName" value="" placeholder="用户名称"/></li>
                <li><input type="text" id="MobilePhone" name="MobilePhone" value="" placeholder="用户名称" /></li>
                <li><input type="password" id="Password" name="Password" value="" placeholder="登陆密码" /></li>
                <li><input type="password" id="RepeatPassword" name="RepeatPassword" value="" placeholder="确认密码" /></li>
                <li><input type="submit" value="提交" name="提交"/></li>
            </ul>
        </form>
    </div>
</body>
</html>
